div {
  position: absolute;
}
div:nth-of-type(1) {
  width: 100px;
  height: 100px;
  background: #f3ac3c;
  bottom: 64px;
  right: 150px;
  transform: rotate(45deg);
}
div:nth-of-type(2) {
  width: 70px;
  height: 70px;
  background: #998235;
  top: 80px;
  left: 200px;
  transform: translateX(-100%) skewY(-45deg);
}
div:nth-of-type(3) {
  width: 70px;
  height: 70px;
  background: #1a4341;
  top: 80px;
  right: 60px;
  transform: translateX(-100%) skewY(45deg);
}
body {
  background: #0b2429;
}