.box {
  width: 150px;
  height: 100px;
  background: #FFF1C1;
  top: 100;
  left: 125;
  border-radius: 0 0 50px 50px
}

.a {
  height: 40px;
  top: 40;
  right: 20;
}

.a,
.b,
.c {
  background: #FE5F55;
  width: 40px;
  border-radius: 50px
}

.b,
.c {
  left: 20;
  height: 10px
}

.b {
  top: 20
}

.c {
  top: 40
}

.d,
.e {
  width: 50px;
  height: 40px;
  background: #293462;
  border: solid 10px #FFF1C1
}

.d {
  border-radius: 50px 0 0 50px;
  left: -60
}

.e {
  border-radius: 0 50px 50px 0;
  right: -60
}

div {
  position: absolute
}

body {
  background: #293462
}