.main {
  width: 100px;
  height: 100px;
  background: #f3ac3c;
  position: relative;
}

.circal {
  border-radius: 100px;
}

.a,
.b,
.c {
  background: #998235;
  position: absolute;
}

.a {
  width: 30px;
  height: 30px;
  top: 20;
  left: 20;
}

.b {
  width: 10px;
  height: 10px;
  top: 20;
  right: 20;
}

.c {
  width: 20px;
  height: 20px;
  bottom: 15;
  right: 40;
}

.line {
  width: 10px;
  height: 180px;
  background: #f3ac3c;
  position: absolute;
  border-radius: 100px;
}

.one {
  top: -50;
  right: 45;
}

.two {
  top: -45;
  right: 37;
  transform: rotate(60deg);
}

.three {
  top: -34;
  right: 35;
  transform: rotate(120deg);
}

body {
  background: #1a4341;
  display: flex;
  justify-content: center;
  align-items: center;
}