.a,
.b {
  background: #A64942
}

.main,
.a,
.b {
  border-radius: 20px
}

.main,
.b {
  width: 200px;
  height: 100px;
}

.main {
  background: #FE5F55;
  position: relative;
  margin-top: -20;
}

.a {
  width: 140px;
  height: 40px;
  position: absolute;
  top: 30;
  left: 30;
}

.b {
  position: absolute;
  bottom: -20;
  z-index: -1;
}

body {
  background: #293462;
  display: flex;
  justify-content: center;
  align-items: center;
}