div {
  position: absolute;
}
div:nth-of-type(6) {
  width: 50px;
  height: 50px;
  background: #0b2429;
  border-radius: 300px;
}
div:nth-of-type(5) {
  width: 140px;
  height: 140px;
  background: #f3ac3c;
  border-radius: 300px;
}
div:nth-of-type(4) {
  width: 180px;
  height: 180px;
  background: #0b2429;
  border-radius: 300px;
}
div:nth-of-type(3) {
  width: 200px;
  height: 200px;
  background: #998235;
  border-radius: 300px;
}
div:nth-of-type(2) {
  width: 0px;
  height: 0px;
  border-width: 80px 80px 0px 80px;
  border-style: solid;
  border-color: #998235 transparent;
  transform: rotate(90deg);
  left: 19px;
}
div:nth-of-type(1) {
  width: 0px;
  height: 0px;
  border-width: 80px 80px 0px 80px;
  border-style: solid;
  border-color: #998235 transparent;
  transform: rotate(270deg);
  right: 19px;
}
body {
  background: #0b2429;
  display: flex;
  justify-content: center;
  align-items: center;
}