.circal {
  width: 200px;
  height: 200px;
  background: #fff1c1;
  border-radius: 100px;
  overflow: hidden;
}

.a {
  background: #fe5f55;
  width: 100px;
  height: 160px;
  transform: rotate(45deg);
  margin: 71px 10px 0 70px;
}

.b {
  background: #fe5f55;
  width: 30px;
  height: 40px;
  transform: rotate(45deg);
  margin: -97px 0px 0px 11px;
}

body {
  background: #293462;
  display: flex;
  justify-content: center;
  align-items: center;
}