.a {
  width: 50px;
  height: 150px;
  top: 80;
  background: #fe5f55;
}
div:nth-of-type(1) {
  border-radius: 0px 40px;
  left: 150;
}
div:nth-of-type(2) {
  border-radius: 40px 0px;
  right: 150;
}
.b {
  width: 30px;
  height: 30px;
  background: #293462;
  border-radius: 90px;
  top: 140;
}
div:nth-of-type(3) {
  left: 165;
}
div:nth-of-type(4) {
  left: 205;
}
.c {
  width: 50px;
  height: 120px;
  background: #293462;
  bottom: 0;
}
div:nth-of-type(5) {
  border-radius: 0px 40px;
  right: 200;
}
div:nth-of-type(6) {
  border-radius: 40px 0px;
  left: 200;
}
div {
  position: absolute;
}
body {
  background: #293462;
}